{{- if .Values.mongodb.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "budgetwise.fullname" . }}-mongodb-secret
  namespace: {{ .Chart.Name }}
  labels:
    {{- include "budgetwise.labels" . | nindent 4 }}
type: Opaque
data:
  mongodb-uri: {{ printf "mongodb://%s-mongodb:27017/budgetwise" (include "budgetwise.fullname" .) | b64enc }}
{{- end }}