{{- if .Values.mongodb.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "budgetwise.fullname" . }}-mongodb-secret
  namespace: {{ .Chart.Name }}
  labels:
    {{- include "budgetwise.labels" . | nindent 4 }}
type: Opaque
data:
  mongodb-uri: {{ printf "mongodb://%s-mongodb:27017/budgetwise" (include "budgetwise.fullname" .) | b64enc }}
{{- end }}


---

apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ include "budgetwise.ghcr-secret-name" . }}
  namespace: {{ .Values.sealedSecrets.ghcrSecret.namespace }}
spec:
  encryptedData:
{{- range $key, $value := .Values.sealedSecrets.ghcrSecret.encryptedData }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
  template:
    metadata:
      name: {{ include "budgetwise.ghcr-secret-name" . }}
      namespace: {{ .Values.sealedSecrets.ghcrSecret.namespace }}
    type: {{ .Values.sealedSecrets.ghcrSecret.type }}


---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ include "budgetwise.postgresql-secret" . }}
  namespace: {{ .Chart.Name }}
type: Hidden
spec:
  encryptedData:
{{- range $key, $value := .Values.sealedSecrets.postgresqlSecret.encryptedData }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
  template:
    metadata:
      name: {{ include "budgetwise.postgresql-secret" . }}
      namespace: {{ .Chart.Name }}  