{{- if .Values.mongodb.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "budgetwise.fullname" . }}-mongodb-secret
  namespace: {{ .Chart.Name }}
  labels:
    {{- include "budgetwise.labels" . | nindent 4 }}
type: Opaque
data:
  mongodb-uri: {{ printf "mongodb://%s-mongodb:27017/budgetwise" (include "budgetwise.fullname" .) | b64enc }}
{{- end }}

---
apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJnaGNyLmlvIjp7InVzZXJuYW1lIjoiYWJpcmFhaGFtbWVkIiwicGFzc3dvcmQiOiJnaHBfRUtWZGwwU1UyOUZzV1hZdXZzeGlrYjlIbEJYZ2NvMTVobjd5IiwiZW1haWwiOiJhaGFtbWVkLmFiaXI0N0BnbWFpbC5jb20iLCJhdXRoIjoiWVdKcGNtRmhhR0Z0YldWa09tZG9jRjlGUzFaa2JEQlRWVEk1Um5OWFdGbDFkbk40YVd0aU9VaHNRbGhuWTI4eE5XaHVOM2s9In19fQ==
kind: Secret
metadata:
  creationTimestamp: null
  name: ghcr-secret
  namespace: budgetwise
type: kubernetes.io/dockerconfigjson
